<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="{% url 'account:student_register' %}"><button class="primary">Student Register</button></a>
    <a href="{% url 'account:coordinator_register' %}"><button class="primary">Coordinator Register</button></a>
    <a href="{% url 'account:login' %}"><button class="primary">Login</button></a>
</body>
</html>